.new-2019{
  .header{
    .logo_kaspi{
      top: 0px;
    }
    &__address{
      margin-top: 35px;
    }
  }
  .map{
    h3{
      a{
        color: #333333;
      }
    }
  }
  .footer{
    &__copyright {
      a{
        color: #b58f6b;
        font-size: 10px;
      }
    }
  }
  .bestseller{
    .bg-s{
      background: #ffffff;
    }
    .doors-list{
      &.-new{
        @media (max-width: 768px) {
          display: block;
          overflow-x: auto;
        }
        .door-item{
          @media (max-width: 768px) {
            min-height: 400px;
          }
          img{
            @media (max-width: 768px) {
              height: auto !important;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.locale{
  position: absolute;
  top: 0;
  right: 55px;
  ul{
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      text-transform: uppercase;
      padding: 5px 10px;
      background: #2b1f1d;
      margin: 0 -3px;
      a{
        color: #928471;
      }
      &.active{
        background: #a27a39;
        a{
          color: #dbc79a;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .new-2019{
    .header{
      .logo{
        left: 0;
        top: 20px;
        margin: inherit;
        padding: 0;
        width: 100px;
      }
      .logo_kaspi{
        position: absolute;
        left: 100%;
        width: 110px;
        top: -110px;
        transform: translateX(-110%);
      }
      &__address{
        padding-top: 55px;
      }
    }
    .home-slider{
      .slide{
        height: initial;
      }
    }
    .nav{
      .buttons{
        float: none;
        left: inherit;
        ul {
          left: inherit;
          li{
            display: block;
            float: none;
          }
        }
      }
      .locale{
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        ul {
          li{
            display: inline-block;
          }
        }
      }
    }
  }
}

.new-2019 .bestseller .doors-list .door-item img.width-100{
  min-height: 350px;
}

.position-relative{
  position: relative;
  top: inherit;
  right: inherit;
  text-align: right;
}