
.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 26px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.61);
  border-radius: 50px;
  z-index: 10;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: rgba(0, 0, 0, 0.61);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 5px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: 5px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}


body{
  font-family: 'Georgia';
}
.new-2019{
  .container{
    //width: 1300px;
    //border: 2px solid;
  }

  .nav{
    background-color: rgb(212, 199, 157);
    padding: 26px;
    width: 100%;
    margin: auto;
    .buttons{
      float:right;
      position:relative;
      left:-50%;
      text-align:left;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style:none;
      position:relative;
      left:50%;
      li{
        float:left;
        position:relative;
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding: 0 15px;
        a{
          color: #422a20;
          &:hover{
            color: #0a0a0a;
          }

        }
      }
    }
  }

  .header{
    background: url("/css/images/new2019/russdoors-header.jpg") center center;
    width: 100%;
    height: 240px;
    &__address{
      font-size: 23px;
      line-height: 1.4;
      font-weight: 400;
      text-align: right;
      padding: 43px 50px 0 0;
      p, a{
        color: #b38a54;
        margin-bottom: 0;
      }
    }
    img{
      width: 240px;
      position: relative;
      left: 35px;
      top: 5px;
    }
  }

  .home-slider{
    overflow: hidden;
    .slide{
      margin: -135px 0;
      position: relative;
      img{
        width: 100%;
      }
      &__content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%)translateY(-50%);
        .catalog-text{
          color: #ede2cc;
          font-size: 48px;
          text-align: center;
        }
      }
      .btn-default{
        color: #422a20;
        background-color: #b58f6b;
        border-radius: 0px;
        font-family: Georgia;
        font-weight: 500;
        text-transform: uppercase;
        padding: 18px 35px;
        border: none;
        display: block;
        margin: auto;
        width: fit-content;
      }
    }
  }
  @-webkit-keyframes t776__icon-anim{
    0%{
      -webkit-transform:translate3d(-20px,0,0);
      opacity:0
    }
    10%{
      -webkit-transform:translate3d(-20px,0,0);
      opacity:0
    }
    20%{
      -webkit-transform:translate3d(-20px,0,0);
      opacity:1
    }
    70%{
      -webkit-transform:translate3d(0,0,0);
      opacity:1
    }
    80%{
      -webkit-transform:translate3d(0,0,0);
      opacity:1
    }
    81%{
      -webkit-transform:translate3d(0,0,0);
      opacity:0
    }
    100%{
      -webkit-transform:translate3d(0,0,0);
      opacity:0
    }
  }
  @keyframes t776__icon-anim{
    0%{
      transform:translate3d(-20px,0,0);
      opacity:0
    }
    10%{
      transform:translate3d(-20px,0,0);
      opacity:0
    }
    20%{
      transform:translate3d(-20px,0,0);
      opacity:1
    }
    70%{
      transform:translate3d(0,0,0);
      opacity:1
    }
    80%{
      transform:translate3d(0,0,0);
      opacity:1
    }
    81%{
      transform:translate3d(0,0,0);
      opacity:0
    }
    100%{
      transform:translate3d(0,0,0);
      opacity:0
    }
  }
  .scroll-icon-wrap{
    text-align: right;
    padding: 0 30px;
    .scroll-icon{
      animation: t776__icon-anim 1.5s infinite;
    }
  }

  .bestseller{
    h1{
      color: rgb(66, 42, 32);
      font-size: 52px;
      font-weight: bold;
      margin: 20px 0;
    }

    h2{
      color: rgb(66, 42, 32);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin: 40px 0;
    }
    h3{
      font-size: 16px;
      font-weight: bold;
      font-family: 'Arial';
    }
    p{
      font-family: 'Roboto',Arial,sans-serif;
      font-size: 14px;
    }
    .price{
      font-weight: bold;
      margin: 12px 0;
    }
    .bg-s{
      background: #f2ede6;
      width: 100%;
      padding: 40px 0;
    }
    .doors-list{
      .door-item{
        margin-bottom: 30px;
        img{
          height: 400px;
          display: block;
          margin: auto;
          &.width-100{
            width: 100%;
            height: initial;
          }
        }
      }
    }
    .btn-default{
      background: #422a20;
      color: #ede2cc;
      border-radius: 0;
      padding: 14px 30px;
    }
  }

  .download-catalog{
    height: 80vh;
    position: relative;
    background: url("/css/images/new2019/russdoors-bg1.jpg") no-repeat 100%;
    width: 100%;
    background-size: cover;
    .container{
      position: relative;
      height: 80vh;
    }
    .block{
      margin: 0 50px;
      padding: 60px 45px 70px;
      background-color: #ede2cc;
      width: 90%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h3{
        font-size: 42px;
        color: #000;
        font-family: 'Roboto',Arial,sans-serif;
        font-weight: bold;
        text-align: center;
      }
      p{
        font-size: 24px;
        color: #0a0a0a;
        margin-top: 24px;
        font-family: 'Roboto',Arial,sans-serif;
        text-align: center;
      }
      &__width{
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding-top: 50px;
        input{
          width: 100%;
          color: #000000;
          border: 2px solid #cfcfcf;
          background-color: #ffffff;
          border-radius: 1px;
          padding: 14px;
          font-family: 'Roboto',Arial,sans-serif;
        }
        .btn{
          color: #ffffff;
          background-color: #b58f6b;
          border-radius: 1px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          border: 0;
          padding: 14px;
          width: 100%;
          font-family: 'Roboto',Arial,sans-serif;
        }
      }
    }
  }

  .quality{
    background: url("/css/images/new2019/russdoors-bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    padding: 40px;
    h2{
      color: #ede2cc;
      font-size: 42px;
      font-family: 'Arial';
      line-height: 1.55;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      text-align: center;
    }

    .row{
      margin: 0 70px 0 170px;
    }

    &-item{
      margin-bottom: 50px;
      position: relative;
      padding-right: 70px;
      &:before{
        content: '';
        position: absolute;
        left: -40px;
        top: 30px;
        background: url(/css/images/new2019/done.svg) no-repeat;
        background-size: 45px;
        width: 100%;
        height: 200px;
      }
      h3{
        color: #ede2cc;
        font-size: 22px;
        font-family: 'Arial';
        line-height: 1.55;
        font-weight: 700;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      p{
        color: #ede2cc;
        font-size: 16px;
        font-family: 'Arial';
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
    }
  }

  .tour-3d{
    padding: 60px 0;
    background: #f2ede6;
    h4{
      font-size: 14px;
      font-weight: bold;
      font-family: Georgia;
    }
    h3{
      font-size: 30px;
      font-weight: bold;
      font-family: Georgia;
    }
    p{
      font-size: 18px;
      font-family: 'Roboto',Arial,sans-serif;
      margin: 20px 0;
    }
    .btn-default{
      color: rgb(255, 255, 255);
      background-color: rgb(181, 143, 107);
      display: inline-block;
      font-family: 'Roboto',Arial,sans-serif;
      height: 60px;
      padding: 18px 0;
      border-radius: 0;
      border: 0 none;
      font-size: 16px;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      font-weight: 700;
      background-image: none;
      cursor: pointer;
    }
  }

  .about-us{
    h2{
      text-align: center;
      font-size: 38px;
      font-weight: bold;
      margin: 40px 0 70px;
      color: rgb(66, 42, 32);
    }
    p{
      font-size: 20px;
      font-weight: 300;
      font-family: 'Roboto',Arial,sans-serif;
      margin-bottom: 40px;
    }
    .inner-c{
      padding: 0 250px;
    }
    h3{
      text-align: center;
      font-size: 26px;
      color: rgb(66, 42, 32);
      font-weight: bold;
    }
    table{
      border-spacing: 10px;
      border-collapse: initial;
      width: 1000px;
      tr{
        td{
          img{
            max-height: 160px;
          }
        }
      }
    }
  }

  .door-interier{
    padding: 60px 0;
    h4{
      font-size: 14px;
      font-weight: bold;
      font-family: Georgia;
    }
    h3{
      font-size: 30px;
      font-weight: bold;
      font-family: Georgia;
    }
    p{
      font-size: 18px;
      font-family: 'Roboto',Arial,sans-serif;
      margin: 20px 0;
    }
    .btn-default{
      color: rgb(255, 255, 255);
      background-color: rgb(181, 143, 107);
      display: inline-block;
      font-family: 'Roboto',Arial,sans-serif;
      height: 60px;
      padding: 18px 0;
      border-radius: 0;
      border: 0 none;
      font-size: 16px;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      font-weight: 700;
      background-image: none;
      cursor: pointer;
    }
  }

  .reviews{
    background-color: #b58f6b;
    padding: 60px 0;
    h2{
      text-align: center;
      font-size: 42px;
      font-weight: bold;
      font-family: 'Roboto',Arial,sans-serif;
      margin-bottom: 50px;
    }
    .review-slider{
      .review-item{
        width: 1000px;
        margin: auto;
        background: white;
        height: 360px;
        p{
          padding: 40px;
          font-size: 20px;
          font-family: 'Roboto',Arial,sans-serif;
        }
        img{
          width: 100%;
          max-height: 360px;
        }
      }
    }
  }

  .feedback{
    padding: 30px 0;
    background-color: #ede2cc;
    h2{
      text-align: center;
      font-size: 42px;
      font-weight: bold;
      margin-bottom: 50px;
      font-family: 'Roboto',Arial,sans-serif;
    }
    p{
      font-family: 'Roboto',Arial,sans-serif;
      text-align: center;
      font-size: 20px;
    }
    .form{
      margin-top: 100px;
      .form-group{
        .form-control{
          padding: 24px 14px;
        }
      }
    }
    .btn{
      color: #422a20;
      background-color: #b58f6b;
      text-transform: uppercase;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      font-family: 'Roboto',Arial,sans-serif;
      text-align: center;
      height: 60px;
      border: 0 none;
      font-size: 16px;
      padding-left: 60px;
      padding-right: 60px;
      -webkit-appearance: none;
      font-weight: 700;
      white-space: nowrap;
      background-image: none;
      cursor: pointer;
      margin: 0;
    }
    img{
      width: 100%;
    }
  }

  .map{
    position: relative;
    h3{
      font-family: 'Roboto',Arial,sans-serif;
      font-size: 30px;
      font-weight: bold;
    }
    #map{
      height: 500px;
      width: 100%;
    }
    .map-content{
      position: absolute;
      width: 550px;
      left: 50%;
      transform: translateX(-400px);
      top: 50px;
      background-color: #ede2cc;
      padding: 40px;
      z-index: 100;
      .social-links{
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          margin-right: 5px;
          a{
            background: #422a20;
            width: 30px;
            height: 30px;
            display: block;
            text-align: center;
            border-radius: 15px;
            color: #ede2cc;
            font-weight: bold;
            i{
              font-size: 20px;
              position: relative;
              top: 5px;
            }
          }
        }
      }
    }

  }

  .footer{
    position: relative;
    background: #422a20;
    padding: 50px;
    margin-top: 10px;
    .buttons{
      float:right;
      position:relative;
      left:-50%;
      text-align:left;
    }
    &__menu{
      padding: 0;
      margin: 0;
      list-style:none;
      position:relative;
      left:50%;
      li{
        float:left;
        position:relative;
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding: 0 15px;
        a{
          color: #b58f6b;
          &:hover{
            color: #b58f6b;
          }
        }
      }
    }
    &__logo{
      img{
        display: block;
        margin: 90px auto 30px;
        width: 150px;
      }
    }
    &__copyright{
      text-align: center;
      color: #b58f6b;
    }
  }

  .padding-30{
    padding: 0 30px;
  }
}

@-webkit-keyframes ripple {
  20% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@keyframes ripple {
  20% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
.btn-effects{
  position: relative;
  overflow: hidden;
}
.t-btn_effects{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &:after{
    content: '';
    position: absolute;
    height: 350%;
    width: 200%;
    top: 0;
    left: -100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: 20;
    animation-name: ripple;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@media (max-width: 768px) {
  .new-2019 {
    .nav{
      ul{
        li{
          display: block;
          float: none;
        }
      }
    }
    .header{
      height: auto;
      img{
        left: 0;
        top: 0;
        padding: 30px 60px 0;
        display: block;
        margin: auto;
      }
      &__address{
        //display: none;
        text-align: center;
        padding: 10px 0;
      }
    }
    .home-slider{
      background: #0a0a0a;
      .slide{
        margin: 0;
        height: 400px;
        img{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
        &__content{
          .catalog-text{
            font-size: 20px;
          }
        }
      }
    }
    .bestseller{
      .doors-list{
        display: flex;
        overflow-x: scroll;
        max-width: 100%;
        .col-md-3, .col-md-4{
          display: inline-block;
        }
        .door-item{
          img{
            height: 200px;
            &.width-100{
              height: 200px;
              width: auto;
            }
          }
        }
      }
    }
    .download-catalog{
      height: initial;
      padding: 30px 15px;
      .container{
        height: initial;
      }
      .block{
        padding: 30px;
        position: relative;
        width: 100%;
        transform: none;
        top: 0;
        margin: 0;
        h3{
          font-size: 30px;
        }
        p{
          font-size: 20px;
        }
        &__width{
          padding: 10px;
          input{
            margin-bottom: 20px;
          }
        }
      }
    }
    .quality{
      padding: 20px;
      h2{
        font-size: 30px;
      }
      .row{
        margin: 0 0 0 30px;
      }
      .quality-item{
        padding: 0 15px;
        p{
          font-size: 12px;
        }
      }
    }
    .tour-3d, .door-interier{
      padding: 15px;
      .btn-default{
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }
    }
    .about-us{
      .inner-c{
        padding: 0 15px;
      }
      h2{
        font-size: 30px;
      }
      p{
        font-size: 16px;
      }
    }
    .reviews{
      h2{
        font-size: 30px;
      }
      .review-slider{
        .review-item{
          width: initial;
          height: initial;
          p{
            font-size: 16px;
          }
          img{
            max-height: inherit;
          }
        }
      }
    }
    .feedback{
      .form{
        margin-top: 30px;
      }
      .btn{
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }
    }
    .map{
      .map-content{
        position: relative;
        width: initial;
        left: 0;
        top: 0;
        transform: none;
      }
    }
    .footer{
      padding: 50px 15px;
      &__menu{
        li{
          display: block;
          float: none;
        }
      }
      &__logo{
        img{
          margin: 30px auto;
        }
      }
    }
  }
}